

body{
    background: url("../img/fondo.jpeg") no-repeat center;
    background-size: cover;
}

.form-sing {
    background-color: #ffffff;
    opacity: 0.90;
    padding: 0 0px;
    width: 130%;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 5px 5px 3px #ffffff;
    border-radius: 20px;
}
